<%- include('../partials/header',{title:'hncj'}) %>

<form action="/trails/<%= trail._id %>?_method=PUT" method="POST">
   <br> <label>location:</label>
   <input  type="text" name="location" value="<%= trail.location %>">
   <label>terrain:</label>
   <input type="text" name="terrain" value="<%= trail.terrain %>">
    <button type="submit">UPDATE </button>
  </form>