<%- include('../partials/header') %>

<form id="new-form" action="/trails" method="POST">
    <label>location:</label>
    <input  type="text" name="location">
    <label>terrain:</label>
    <input type="text" name="terrain">
    </select>
    <input class=" a" type="submit" value="Add Trail">
  </form>